html {
  font-size: 100%;
}

@media (max-width: 480px) {
  html {
    font-size: 87.5%;
  }
}

body { 
  background-color: #111000; 
  color: white;
  font-family: helvetica, arial, sans-serif;
  font-size: 13pt;
  line-height: 1.25;
}
