body {
  padding: 1rem 2rem;
}

.nav {
  padding:0px;
  margin:0px;
}

.nav ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: None;
  gap: 2rem;
  margin: 0px;
  padding: 0px;
}

.page_wrapper {
  display:flex;
  flex-direction: row;
  width: 100%;
}

.content_wrapper {
  max-width: 1200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.content_index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
  margin-top:3rem;
}

.content_index ul {
  list-style-type: None;
}

